.container {
    width: 100%;
    background-color: #fff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding: 16px;
    background-color: #f8f9fa;
    margin-bottom: 32px;
}

.grid-layout {
    columns: 300px; /* equal columns insted of using a variable */
    column-gap: 25px;
    padding: 0 25px;
    margin: 0 auto;
}

.image-tile {
    break-inside: avoid;
    margin-bottom: 25px;
    width: 100%;
    display: block;
}

.image-tile:hover {
    transform: scale(1.02);
    z-index: 1;
}
